################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DatingApp/FileContentIndex
/.vs/DatingApp/DesignTimeBuild
/.vs/DatingApp/v17
